<!DOCTYPE html>
<html>
    <head>
        {% if title %}
        <title>{{ title }} - Flask Tutorial</title>
        {% else %}
        <title>Welcome to Flask Tutorial</title>
        {% endif %}
    </head>
    <body>
        <div>
            Flask Tutor : 
            <a href="/">Home</a>
            <a href="/login">Login</a>
        </div>
        <hr>
        {% with messages = get_flashed_messages() %}
        {% if messages %}
        <ul>
            {% for message in messages %}
            <li>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        {% endwith %}
        <div>
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>